<div class="eos-node-header clearfix" id="home" data-id="<%= newsData%>" data-info="<%= Date.parse(new Date())%>">
    <div id="scene"></div>
    <div class="nav-section">
        <ul class="nav-btns">
            <% nav.map((item, index) => {%>
            <li class="nav-btn-item">
                <a class="<%= item.path%> <%= index === 0 ? 'active' : ''%>" href="#<%= item.path%>"><%= item.name%></a>
            </li>
            <% if (index !== nav.length - 1) {%>
            <span class="separate"></span>
            <% }%>
            <%})%>
        </ul>
        <div class="language-btns">
            <span class="btn active">EN</span>
            <span class="line"> / </span>
            <span class="btn">简</span>
        </div>
    </div>
    <p class="logo-img"></p>
    <p class="logo-text">EOS Galaxy</p>
    <!--<p class="logo-slogon">助力EOS生态</p>-->
    <i class="mouse-icon"></i>
    <ul class="dots">
        <% nav.map((item, index) => {%>
        <li>
            <a href="#<%= item.path%>" class="<%= item.path%> dot-item <%= index === 0 ? 'active' : ''%>"></a>
        </li>
        <%})%>
    </ul>
</div>
